<div class="fondo">
  <div align="center" style="align-items: center; display: flex; justify-content: center; height: 200px;">
      <img src="./../../../assets/logo_2.png" width="200" height="160" >
  </div>
  <div align="center" style="align-items: center; display: flex; justify-content: center;">
    <mat-card class="terms-box">
      <mat-card-header style="align-items: center; display: flex; justify-content: center;">
        <mat-card-title>Completa la información</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div style="height: 10px;"></div>
      <form class="example-form">
        <div>
          <h4>Datos del solicitante</h4>
          <mat-form-field>
            <input type="text" id="id" [(ngModel)]="report.user" name="id" matInput placeholder="Número identificación" disabled>
          </mat-form-field>
          <mat-form-field>
            <input type="text" id="name" [(ngModel)]="user.name" name="name" matInput placeholder="Nombre completo" disabled>
          </mat-form-field>
          <mat-form-field>
            <input type="text" id="userName" [(ngModel)]="user.userName" name="userName" matInput placeholder="Nombre de usuario" disabled>
          </mat-form-field>
        </div>
        <mat-divider></mat-divider>
        <div>
          <h4>Datos de recoleccion</h4>
          <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input type="text" id="direccion" [(ngModel)]="report.direccion" name="direccion" matInput placeholder="Dirección">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Tipo de residuo</mat-label>
              <mat-select [(ngModel)]="report.wasteType" name="wasteType">
                <mat-option *ngFor="let wasteType of wasteTypes" [value]="wasteType.id">
                  {{ wasteType.name }}
                </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Peso (KG)</mat-label>
            <input type="number" id="peso" [(ngModel)]="report.weigth" name="peso" matInput placeholder="Peso (KG)">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Fecha deseada para recoleccion</mat-label>
            <input type="date" id="fecha" [(ngModel)]="report.reportRecollection" name="fecha" matInput placeholder="Fecha deseada">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field align="center" style="width: 90%;">
            <mat-label>Textarea</mat-label>
            <textarea style="width: 100%;" matInput placeholder="Observaciones" rows="6" id="observaciones" [(ngModel)]="report.observations" name="observaciones"></textarea>
          </mat-form-field>
        </div>
      </form>
    </mat-card-content>
    </mat-card>
  </div>
  <div style="height: 1%;"></div>
  <div style="align-items: center; display: flex; justify-content: center;">
      <button (click)="enviarReporte()" class="terms-box" mat-raised-button style="opacity: 0.8; background-color: darkgreen; color:white;">Enviar solicitud</button>
  </div>
  
</div>



<ng-template #confirmation let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{tituloModal}}</h4>
  </div>
  <div class="modal-body">
    <h5>{{bodyModal}}</h5>
  </div>
  <div class="modal-footer">
    <button *ngIf="mostrarBoton" type="button" class="btn btn-primary" (click)="closeModal()">Ir a mis solicitudes</button>
  </div>
</ng-template>
