<div class="fondo">
    <div align="center" style="align-items: center; display: flex; justify-content: center; height: 200px;">
        <img src="./../../../assets/logo_2.png" width="200" height="160" >
    </div>
    <div style="height: 10%;"></div>
    <mat-stepper [linear]="false" #stepper>
        <mat-step label="Tramitando solicitud">
        </mat-step>
        <mat-step label="En camino a cumplir con el servicio">
        </mat-step>
        <mat-step label="En sitio de solicitud del servicio">
        </mat-step>
        <mat-step label="Servicio cumplido">
        </mat-step>
    </mat-stepper>
</div>