<div class="fondo">
    <div class="contenedor">
        <h1 class="titulo">Vista de administrador</h1>
        <div align="center" style="align-items: center; display: flex; justify-content: center; height: 200px;">
            <img src="./../../../assets/logo_2.png" width="200" height="160">
        </div>
        <footer>
            <mat-card class="tarjeta">
                <mat-card-content routerLink="/solicitudes">Ver solicitudes</mat-card-content>
            </mat-card>
            <mat-card class="tarjeta">
                <mat-card-content routerLink="/parametros">Administrar parametros</mat-card-content>
            </mat-card>
            <mat-divider></mat-divider>
        </footer>
    </div>
</div>
