<div class="fondo">
    <div align="center" style="align-items: center; display: flex; justify-content: center; height: 200px;">
        <img src="./../../../assets/logo_2.png" width="200" height="160" >
    </div>
    <footer>
        <mat-card>
            <mat-card-content>Collect-Waste</mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-content>About us</mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-content>Follow up</mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-content>Services</mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-content>Twitter</mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-content>Facebook</mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
        <mat-card>
            <mat-card-content>Youtube</mat-card-content>
        </mat-card>
        <mat-divider></mat-divider>
    </footer>
</div>