<div class="fondo">
    <div align="center" style="align-items: center; display: flex; justify-content: center; height: 200px;">
        <img src="./../../../assets/logo_2.png" width="200" height="160" >
    </div>
    <div align="center" style="align-items: center; display: flex; justify-content: center;">
        <mat-card class="terms-box">
            <mat-card-header style="align-items: center; display: flex; justify-content: center;">
                <mat-card-title>Terminos y condiciones</mat-card-title>
            </mat-card-header>
            <mat-card-content align="left"><div style="height: 10px;"></div>Los términos y condiciones de uso (también conocidos cómo términos y condiciones) son un contrato legal entre el proveedor de un servicio y la persona que quiere usar dicho servicio. La persona debe aceptar cumplir estos términos para usar el servicio ofertado. Los términos de uso pueden ser también para descargar la responsabilidad, especialmente en el uso de sitios web. Normalmente el lenguaje vago y las oraciones largas y complejas usadas en los términos de uso han traído preocupaciones acerca de la privacidad del cliente y ha hecho que aumente la conciencia pública con respecto a este tema.</mat-card-content>
            <mat-card-content align="left"><div style="height: 10px;"></div>El contrato de términos de uso tiene  un propósito legal y es usado por compañías que dan servicios de software, como buscadores web, comercio online y redes sociales. Un acuerdo de términos de servicio legítimo es legalmente vinculante y puede estar sujeto a cambios. Las compañías pueden hacer cumplir los términos negando el servicio. Los clientes pueden hacerlos cumplir presentando una demanda en el caso de que puedan demostrar que realmente se vieron perjudicados por el incumplimiento de los términos.</mat-card-content>
            <mat-card-content align="left"><div style="height: 10px;"></div>El contenido de los Términos y Condiciones debe ajustarse al RGPD (Reglamento General de Protección de Datos), que es un reglamento que entró en vigor en 2016 y que debe ser cumplido por todas las empresas que operen en la Unión Europea y tiene como objetivo brindar un mayor control y seguridad a los usuarios sobre sus datos digitales.</mat-card-content>
        </mat-card>
    </div>
    <div style="height: 3%;"></div>
    <div style="align-items: center; display: flex; justify-content: center;">
        <button class="terms-box" mat-raised-button style="opacity: 0.8; background-color: darkgreen; color:white;" routerLink="/garbage">Solicitud de servicio</button>
    </div>
</div>
